###### Requirements without Version Specifiers ######
catboost
pytorch_tabnet
xfeat
category_encoders
transformers
timm

###### Requirements with Version Specifiers ######
albumentations==1.1.0
tensorflow==2.7.0
tensorflow-hub==0.12.0
tensorflow-text == 2.7.3
opencv-python-headless<4.3